/CompareIF.class
/MainFrame$1.class
/MainFrame.class
/NewIF$1.class
/NewIF$2.class
/NewIF$3.class
/NewIF.class
/CompareIF$1.class
/CompareIF$2.class
/CompareIF$3.class
/CompareIF$4.class
/CompareIF$5.class
/CompareIF$6.class
/CompareIF$7.class
/CompareIF$8.class
/CompareIF$9.class
/ConfigureIF$1.class
/ConfigureIF$2.class
/ConfigureIF$3.class
/ConfigureIF.class
/CopyIF$1.class
/CopyIF$2.class
/CopyIF$3.class
/CopyIF.class
/KeyboardListener$1.class
/KeyboardListener.class
/MainFrame$2.class
/MainFrame$3.class
